.footer {
  background: #f5f6f8;
  text-align: center;

  &__logo {
    padding: 3rem 0;
    width: 18vw;
    height: 20vh;
  }

  &__links {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    &-item {
      margin: 1.3rem;
      a {
        text-decoration: none;
        font-size: 1.5rem;
        color: $dark-blue;
      }
    }
    margin-bottom: 2rem;
  }

  &__icons {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem 5rem 3rem;
    &-icon {
      img {
        cursor: pointer;
      }
    }
  }
}
